.star-rating .star-rating-icon.active {
    color: #fea569;
}

.form-group--number {
    display: inline-block;
    position: relative;
}

.form-group--number button.down {
    left: 10px;
}

.form-group--number button.up {
    right: 10px;
}

.form-group--number input {
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.25);
    max-width: 115px;
}

.form-group--number .form-control {
    border: 1px solid #ccc;
    height: 40px;
    padding: 0 25px;
    text-align: center;
    font-size: 14px;
    color: #000;
    background-color: transparent;
}

.form-group--number button {
    background: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    max-width: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
    line-height: 1em;
}

img.tag-label{
    position: absolute;
    right: 0;
}
img.tag-label-detail{
    position: absolute;
}


